.PriseRDV {
    display: flex;
    flex-direction: column;
}

.PriseRDV-infos {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 10px;
    padding: 10px;
}

.input {
    width: 500px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
}

.PriseRDV-jesuismedecin {
    align-self: flex-end;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
